* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: Alata;
}


.body {
    background-image: url(../images/bg-desktop-dark.jpg);
    width: 100vw;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-color: #151532;
}

.container {
    max-width: 40%;
    margin: 0 auto;
}
.dark-mode {
    background-image: url(../images/bg-desktop-light.jpg);
    width: 100vw;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
}

.light-mode {
    background-image: url(../images/bg-desktop-dark.jpg);
    width: 100vw;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-color: #151532;
}


header {
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1 {
    font-size: 45px;
    line-height: 45px;
}

.label::after {
    content: "";
    background: url(../images/icon-sun.svg);
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-top: -30px;
    margin-left: -4px;
}

.mode-input {
    width: 32px;
    height: 32px;
    border: none;
    opacity: 0.0001;
}



.mode-input:checked + .label::after {
    content: "";
    background: url(../images/icon-moon.svg);
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-top: -30px;
    margin-left: -5px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d3e;
    border-radius: 6px;
    padding: 15px 20px;
}

.todo-input {
    width: 50%;
    font-size: 24px;
    color: aliceblue;
    padding: 2px;
    background-color: inherit;
    border: 1px solid rgb(171, 162, 162);
    border-radius: 6px;
}

.round {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(171, 162, 162);
}

.btn {
    background-color: inherit;
    border: 1px solid rgb(171, 162, 162);
    border-radius: 6px;
    padding: 0 15px 4px;
    color: rgb(171, 162, 162);
    font-size: 24px;
}

.todo-list{
    margin-top: 30px;
    background-color: #1d1d3e;
    border-radius: 6px;
}

.item{
    list-style: none;
}

.item__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(69, 66, 66);
}

.check-btn{  
    width: 32px;
    height: 32px;
    border-radius: 50% ;
    border: 1px solid rgb(171, 162, 162); 
    background-color: inherit;  
}

.check-btn:hover{
    border-color: aqua;
}


.remove{
    background-image: url(../images/icon-cross.svg);
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.text{
    width: 78%;
    color: #ffffff;
}


.completed .text{
    text-decoration: line-through;
    opacity: 0.5;
}
.completed .check-btn {
    background-image: url(../images/icon-check.svg);
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.deleted {
    display: none;
}

#filter{
    background-color: initial;
    padding: 8px;
    margin-left: 6px;
    border-radius: 6px;
}

#filter option{
    background-color: #151532;
}






@media (max-width: 600px){
    .container{
        max-width: 90%;
    }
    header{
        padding-top: 40px;
    }
    .form{
        padding: 10px;
    }
    .todo-input{
        width: 40%;
        font-size: 18px;
    }
    .round{
        width: 24px;
        height: 24px;
    }
    .btn{
        padding: 4px;
        font-size: 16px;
    }
    #filter{
        padding: 5px 0;
        margin-left: 0px;
        width: 60px;
    }
    .header{
        padding-bottom: 15px;
    }
    h1{
        font-size: 32px;
        line-height: 32px;
    }
    .label::after,
    .mode-input:checked + .label::after{
        width: 26px;
        height: 26px;
    }
    .item__div{
        padding: 10px;
    }
    .check-btn,
    .completed .check-btn{
        width: 26px;
        height: 26px;
    }
    .remove{
        width: 20px;
        height: 20px;
    }
   
}
